.pic {
    display: inline;
    max-width: 360px;
    max-height: 270px;
}
#head {
    text-align: center;
    position: relative;
    left: -5px;
}
header {
    background-color: rgb(23, 180, 219);
    margin: 0px;
    width: 106%;
    position: relative;
    left: -8px;
    top: -23px;
    padding-top: 5px;
    padding-bottom: 1px;
}
main{
    background-color: white;
}



@media all and (min-width: 601px) {
    .pic {
        max-width: 400px;
        max-height: 300px;
    }
    
    #head {
        text-align: center;
        position: relative;
        left: -2.5%;
    }

    main{
        background-color: white;
        position: relative;
        top:-43px;
        margin-left: 30%;
        margin-right: 30%;
        padding-bottom: 9%;
    }
    body{
        background-color: rgb(200, 200, 200);
        padding: -10px;
        margin:0%;
    }

}