:root{
    --background: rgb(200, 200, 200);
}

.info {
    flex-wrap: wrap;
    flex: 1 1 25;
}

.info-image {
    display: inline;
    max-width: 200px;
    max-height: 150px;
}

.box {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inline {
    flex-wrap: wrap;
    flex: 1 0 25;
}

#head {
    text-align: center;
    position: relative;
    left: -2.5%;
}
header {
    background-color: rgb(23, 180, 219);
    margin: 0px;
    width: 106%;
    position: relative;
    left: -8px;
    top: -23px;
    padding-top: 5px;
    padding-bottom: 1px;
}

body {
    background-color: var(--background);
}

#table {
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--background);
}

@media all and (max-width: 600px) {
    .info-image {
        display: inline;
        max-width: 200px;
        max-height: 300px;
    }
    #table {
        margin-left: 0px;
        margin-right: 0px;
        background-color: var(--background);
    }
    body {
        background-color: var(--background);
    }
    .box {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }
    #head {
        text-align: center;
        position: relative;
        left: -5px;
    }
 
}